<div>
    <h2>Login</h2>
    <form>
        <div>
            <label for="email-login">Email: </label>
            <input type="text" id="emailLogin" />
        </div>
        <div>
            <label for="password-login">Password: </label>
            <input type="password" id="passwordLogin" name="password" />
        </div>
        <button type="submit">Login</button>
    </form>
</div>
<div>
    <form>
        <div>
            <h2>Sign up</h2>
            <label for="usernameSignup">Username: </label>
            <input type="text" id="usernameSignup" />
        </div>
        <div>
            <label for="emailSignup">Email: </label>
            <input type="text" id="emailSignup" />
        </div>
        <div>
            <label for="passwordSignup">Password: </label>
            <input type="password" id="passwordSignup" />
        </div>
        <button type="submit">Sign up</button>
    </form>
</div>

<script src="../public/js/login.js"></script>